.container-sumary {
  background-color: #34495e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  width: 90%;
  text-align: center;
  margin-top: 90px;
}

.character-sheet {
    text-align: left;
    margin-top: 20px;
  }
  
  .character-info, .attributes, .hp, .proficiencies, .equipment {
    margin-bottom: 15px;
  }
  
  .attribute {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  